/* Cody Mulkern
   File: css/custom.css
	 Cody_Mulkern@student.uml.edu
	 Computer Science Student UMass Lowell 91.461 GUI Programming I
	 Date: 9/17/2015
   Updated: 9/20/15 by Cody Mulkern

*/

/*This is to solve scroll bar appearing problem that shifts the navbar.
I found this solution on: http://stackoverflow.com/questions/22212538/how-to-stop-bootstrap-3-1-1-from-shift-content-left-when-scroll-bar-appears*/

html {
    overflow-y: scroll;
}

tr:nth-child(1){
    background-color:lightcoral;
}

/*
    creates border of 2 pixels,
            padding of 8 pixel,
            aligns text in center,
            and makes background lightgreen.
*/
td{
    border:2px solid black;
    padding: 8px;
    text-align:center;
    background:lightgreen;
}

/*
    Changes every other column background to lightblue.
*/
td:nth-child(odd){
    background:lightblue;
}

/*
    Changes the top row and the first column to lightcoral to make it easy to
    see that these are the numbers chosen by user.
*/
td:nth-child(1), td.topRow {
    background:lightcoral;
}

/*
    Changes the empty cell to lightblue for kicks.
*/
td.emptyCell {
    background:lightblue;
}

